.body-box{
    margin-top: 8rem;
    /* margin: 1rem; */
}

.agent{
    display: flex;
    gap: 2rem;
}

.add-todo{
    display: grid;
    /* border: 1px solid black; */
    margin: 1rem;
    grid-template-columns: 1fr 2fr 0.5fr;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(132, 134, 133, 0.6);
}

.agent textarea{
    width: 30%;
}

.textarea-button{
    height: 3rem;
    width: 5rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(98, 98, 250);
}

.textarea-button:hover{
    background-color: blue;
}